@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Bangers&display=swap");
.manga {
  display: flex;
  flex-direction: column;
}
.manga .header {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
}
.manga .header .brief {
  display: flex;
  width: 100%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 2;
}
.manga .header .brief .profile {
  position: relative;
  width: 150px;
  min-width: 150px;
  height: 200px;
}
.manga .header .brief .briefContent {
  width: 100%;
  list-style: none;
  background: rgba(100, 100, 100, 0.2);
  margin: 0;
  padding: 10px;
  margin-left: 10px;
}
.manga .header .brief .briefContent li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  font-size: 11px;
  margin-bottom: 10px;
  color: #fff;
}
.manga .header .brief .briefContent li * {
  padding: 2px 5px 2px 5px;
}
.manga .header .brief .briefContent li .title {
  margin: 0;
  background: linear-gradient(35deg, #772db8 0%, #bb00fe 55%, #f800ff 100%);
  color: #fff;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  letter-spacing: 3px;
}
.manga .header .brief .briefContent li .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(35deg, #772db8 0%, #bb00fe 55%, #f800ff 100%);
  font-size: 12px;
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
  text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 0px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 0px -2px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 0px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;
  -webkit-text-stroke: #000;
  border: 2px solid #000;
  transform: skew(-20deg);
}
.manga .header .brief .briefContent li .status {
  font-size: 11px;
  text-shadow: -3px -3px 0 #772db8, -3px -2px 0 #772db8, -3px -1px 0 #772db8, -3px 0px 0 #772db8, -3px 1px 0 #772db8, -3px 2px 0 #772db8, -3px 3px 0 #772db8, -2px -3px 0 #772db8, -2px -2px 0 #772db8, -2px -1px 0 #772db8, -2px 0px 0 #772db8, -2px 1px 0 #772db8, -2px 2px 0 #772db8, -2px 3px 0 #772db8, -1px -3px 0 #772db8, -1px -2px 0 #772db8, -1px -1px 0 #772db8, -1px 0px 0 #772db8, -1px 1px 0 #772db8, -1px 2px 0 #772db8, -1px 3px 0 #772db8, 0px -3px 0 #772db8, 0px -2px 0 #772db8, 0px -1px 0 #772db8, 0px 0px 0 #772db8, 0px 1px 0 #772db8, 0px 2px 0 #772db8, 0px 3px 0 #772db8, 1px -3px 0 #772db8, 1px -2px 0 #772db8, 1px -1px 0 #772db8, 1px 0px 0 #772db8, 1px 1px 0 #772db8, 1px 2px 0 #772db8, 1px 3px 0 #772db8, 2px -3px 0 #772db8, 2px -2px 0 #772db8, 2px -1px 0 #772db8, 2px 0px 0 #772db8, 2px 1px 0 #772db8, 2px 2px 0 #772db8, 2px 3px 0 #772db8, 3px -3px 0 #772db8, 3px -2px 0 #772db8, 3px -1px 0 #772db8, 3px 0px 0 #772db8, 3px 1px 0 #772db8, 3px 2px 0 #772db8, 3px 3px 0 #772db8;
}
.manga .header .brief .briefContent li .author,
.manga .header .brief .briefContent li .artist {
  background: linear-gradient(35deg, #772db8 0%, #bb00fe 55%, #f800ff 100%);
  margin-left: 5px;
}
.manga .header .brief .briefContent li .released {
  background: #772db8;
  margin-left: 5px;
}
.manga .header .brief .briefContent li .type {
  background: #000;
  border-radius: 2px;
  margin-left: 5px;
}
.manga .header .brief .briefContent li .genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.manga .header .brief .briefContent li .genres div {
  background: #000;
  border-radius: 2px;
  margin-left: 5px;
}
.manga .body {
  position: relative;
  display: flex;
  justify-content: center;
  color: #999;
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}
.manga .body .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
.manga .body .postedContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.manga .body .postedContainer li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.manga .body .postedContainer li div {
  background: #772db8;
  margin-left: 5px;
  padding: 0 5px 0 5px;
}
.manga .body .chapters {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.manga .body .chapters .chaptersHeader {
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
}
.manga .body .chapters .chapter {
  position: relative;
  display: block;
  min-width: 120px;
  font-size: 11px;
  padding: 5px;
  padding-left: 20px;
  z-index: 1;
}
.manga .body .chapters .chapter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: calc(100% - 14px);
  height: 100%;
  background: #151515;
  z-index: -1;
  transform: skew(20deg);
  transition: 0.1s;
}
.manga .body .chapters .chapter:hover:before {
  background: linear-gradient(35deg, #772db8 0%, #bb00fe 55%, #f800ff 100%);
}

/*# sourceMappingURL=Manga.module.css.map */
